#letters-answer-container{
    display:flex
}

.letters-answer {
    font-size: 50px;
    width: 50px;
    border-bottom: solid 2px #000;
    height: 50px;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.block {
  width: 198px;
  height: 198px;
  background-color: red;
  border: 1px solid black;
  float: left;
  position: relative;
}

#picture {
  width: 600px;
  height: 600px;
}
