#success-modal{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:100;
    background-color:#FFF;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

#timer {
    font-size: 40px;
    margin: 0 0 0 20px;
}

.container{
    display:flex
}
.main{
    display: flex;
    flex-direction:column;
    align-items:center;
    flex:1
}
.right{
    min-width: 25vh;
    border-left: solid 1px #000;
    padding-left:20px;
}

.failed-attempts-title {
    font-size: 20px;
    font-weight: 600;
}

.timer-picture{
    max-width:70px;
    height:auto;
}

#letters-answer-container{
    display:flex;
}

.letters-answer {
  font-size: 50px;
  width: 50px;
  border-bottom: solid 2px #000;
  height: 50px;
  margin: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  width: 138px;
  height: 138px;
  backdrop-filter: blur(30px);
  border: 1px solid white;
  float: left;
  position: relative;
}

#picture {
  width: 420px;
  height: 420px;
}

#quizz-modal {
  z-index: 10;
  border: 1px solid rgb(138, 138, 228);
  background-color: rgb(238, 237, 237);
  padding:20px;
  margin: 0 auto;
  text-align: center;
}

.answer {
  background-color: rgb(255, 255, 255);
  margin: 42px;
  padding: 20px;
  cursor: pointer;
}

.answer:hover {
  background-color: rgb(138, 138, 228);
}

.close-button {
  float: right;
  background-color: gray;
  width: 20px;
  cursor: pointer;
  color: white;
}

#response-gif {
  padding-top: 20px;
}

.quizz-modal-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}